

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>登入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--引入layui的js、css-->
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!--引入jquery-->
    <script src="../layui/jquery.min.js"></script>

</head>
<body background="../layui/timg.png" style="align-content:center">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="layui-row">

    <div class="layui-col-xs2" style="margin-left: 650px">

            <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" >

                <div class="layadmin-user-login-main">
                    <div class="layadmin-user-login-box layadmin-user-login-header">
                        <p>好再来登录界面</p>
                    </div>
                    <form class="layui-form" action="" lay-filter="example">
                    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">

                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                            <input type="text" name="name" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">

                        </div>
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                            <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">

                        </div>

                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-xs7">
                                    <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                                    <input type="text" name="code" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">

                                </div>
                                <div class="layui-col-xs5">
                                    <div style="margin-left: 10px;margin-top: 25px;">
                                                <img onclick="getImg(this)" alt="加载中-----" src="../login/getImgCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-bottom: 20px;">
                            <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">
                            <a href="forget.html" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>
                        </div>
                        <div class="layui-form-item">
                            <a class="layui-btn layui-btn-fluid" lay-submit lay-filter="formDemo">登 入</a>
                        </div>
                        <div class="layui-trans layui-form-item layadmin-user-login-other">
                            <a href="../page/toregister" class="layadmin-user-jump-change layadmin-link">注册帐号</a>
                        </div>

                    </div>
                </form>
            </div>
    </div>

</div>









</div>

<script type="text/javascript">
    //登录
    layui.use(['form','jquery'],function() {
        var form = layui.form;
        var  $= layui.jquery;

        form.on('submit(formDemo)', function (data) {

            var field = data.field;
            $.ajax({
                url: "../login/login",
                data:field,
                success: function (data) {

                    if(data=="验证码错误！"){
                        layui.layer.alert('验证码错误！', {icon: 2})
                    }
                    if(data=="用户名不存在！"){
                        layui.layer.alert('用户名不存在！', {icon: 2})
                    }
                    if(data=="密码错误！"){
                        layui.layer.alert('密码错误！', {icon: 2})
                    }
                    if (data == "登录成功！") {
                        location.href = "../page/toIndex";
                    }
                }
            })
        })
    })



    function getImg(obj){
        //obj代表当前对象也就是图片对象
        //$(obj) 把js对象转jq对象
        var date = new Date().getTime();
        //拼接访问路径
        var str = "../login/getImgCode?ss="+date;
        $(obj).prop("src",str);

    }
</script>
</body>
</html>