<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入layui的js、css-->
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!--引入jquery-->
    <script src="../layui/jquery.min.js"></script>
</head>
<body>
<table class="layui-hide" id="Rem"></table>
</body>
<script>
    layui.use(['table','jquery','layer'], function() {

        var table = layui.table;

        var $ = layui.jquery;

        table.render({
            elem: '#Rem'
            , url: '../Removal'
            , cols: [
                [
                    , {field: 'removald', width:$(this).width*0.1, title: '序号'}
                    , {field: 'removalNum', width:$(this).width*0.1, title: '出库编号'}
                    , {field: 'removalType', width:$(this).width*0.1, title: '出库类型',templet: function (a) {
                        if (a.storageType =1) {
                            return "类型1";
                        }
                        if (a.storageType =2) {
                            return "类型2";
                        }
                        if (a.storageType ="") {
                            return "";
                        }
                    }
                }
                    , {field: 'makingPersonnel', width:$(this).width*0.1, title: '制单人员'}
                    , {field: 'purchaseAmount', width:$(this).width*0.1, title: '采购金额'}
                    , {field: 'retailAmount', width:$(this).width*0.1, title: '零售金额'}
                    , {field: 'outboundPersonnel', width:$(this).width*0.1, title: '出库人员'}
                    , {field: 'createTime', width:$(this).width*0.1, title: '创建时间'}
                    , {field: 'status', width:$(this).width*0.1, title: '状态', templet: function (a) {
                        if (a.status =1) {
                            return "采购入库";
                        }
                        if (a.status =2) {
                            return "未入库";
                        }
                        if (a.batch ="") {
                            return "";
                        }

                    }
                }
                    , {field: 'xxx', width:$(this).width*0.1, title: '操作'}
                ]
            ]
            , page: true
        })
    })




</script>
</html>