<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--引入layui的js、css-->
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!--引入jquery-->
    <script src="../layui/jquery.min.js"></script>
</head>
<body>
<!--------------------------------------按钮分割线------------------------------------------------------------->
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">

        <div class="layui-card">
            <div class="layui-card-header">
                 <div class="layui-btn-group" >
                        <button class="layui-btn" type="button" onclick="lpbshowfei()">待收费</button>
                        <button class="layui-btn " type="button" onclick="lpbyishowfei()">已收费</button>
                        <button class="layui-btn" type="button" onclick="lpbyituifei()">已退费</button>
                 </div>
         </div>
    </div>
</div>
</div>
<!---------------------------------------------容器分割线----------------------------------------------->
<!--待收费-->
<div style="display: block" id="a">
<table class="layui-hide" id="test"></table>
</div>


<!--已收费-->
<div style="display: none" id="b">
    <table class="layui-hide" id="test2"></table>
</div>

<!--已退费-->
<div style="display: none" id="c">
    <table class="layui-hide" id="test3"></table>
</div>
<!-----------------------------修改弹出框------------------------------------>
<div id="upda" style = "display : none">

    <form class="layui-form" action="" lay-filter="example1">

        <input name="id" style="display: none">

        <div class="layui-form-item">
            <label class="layui-form-label">订单号</label>
            <div class="layui-input-block">
                <input type="text" name="dingdan" lay-verify="title" autocomplete="off" placeholder="请输入订单号" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">验证日期</label>
            <div class="layui-input-inline">
                <input type="text" name="shijian" id="date2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名字</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输名字" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="nainling" placeholder="请输年龄" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="text" name="shouji" placeholder="请输手机号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">订单</label>
            <div class="layui-input-block">
                <input type="text" name="dingdan" placeholder="请输订单号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
        <label class="layui-form-label">医生</label>
        <div class="layui-input-block">
            <input type="text" name="yisheng" placeholder="请输医生" autocomplete="off" class="layui-input">
        </div>
    </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择框</label>
            <div class="layui-input-block">
                <select name="dingdantype" >
                    <option value=""></option>
                    <option value="1">处方药</option>
                    <option value="2">非处方药</option>

                </select>
            </div>
        </div>





        <div class="layui-form-item">
            <label class="layui-form-label">应收金额</label>
            <div class="layui-input-block">
                <input type="text" name="yingshoujinger" placeholder="请输应收金额" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="update">立即提交</button>
            </div>
        </div>
    </form>
</div>


</body>
<script>
    /*********************************待收费页面********************************************/
    //待收费
    layui.use(['form','layer','jquery','laydate','table'], function(){

        var table = layui.table;
        /*var btn = document.getElementById("a")*/
        var layer = layui.layer
        var form = layui.form;
        var laydate = layui.laydate;

        table.render({
            elem: '#test'
            ,url:'../query'
            ,limit:6
            ,limits:[10,14,16]
            ,cols: [
                [
                    {type:'checkbox'},
                    {field:'id', title: 'ID',width:$(this).width*0.1,sort:true}
                    ,{field:'dingdan', width:$(this).width*0.1, title: '订单号'}
                    ,{field:'shijian', width:$(this).width*0.1, title: '时间'}
                    ,{field:'name', width:$(this).width*0.1, title: '名字'}
                    ,{field:'nainling', width:$(this).width*0.1, title: '年龄'}
                    ,{field:'shouji', width:$(this).width*0.1, title: '手机'}
                    ,{field:'keshi', width:$(this).width*0.1, title: '科室'}
                    ,{field:'yisheng', width:$(this).width*0.1, title: '医生'}
                    ,{field:'dingdantype', width:$(this).width*0.1, title: '订单类型',templet:function (a) {
                        if (a.dingdantype==1) {

                            return "处方药品";
                        }else if (a.dingdantype==2){

                            return "非处方药品";
                        }

                    }}
                    ,{field:'yingshoujinger', width:$(this).width*0.1, title: '应收金额'}
                    ,{field:'shoufeiinfo', width:$(this).width*0.1, title: '收费状态',templet:function (a) {
                        if(a.shoufeiinfo==1){

                            return "待收费";
                        }

                    }}
                     ,{field:'xingbie', width:$(this).width*0.1,title: '性别',templet:function (a) {
                        if(a.xingbie==1){
                            return "男";
                        }
                        if(a.xingbie==2){

                            return "女"
                        }

                    }}
                    ,{field:'caozuo', width:$(this).width*0.1,title: '操作',templet:function (a) {
                        return "<button type='button' class='layui-btn layui-btn-sm' onclick='upda("+a.id+")'>编辑</button>"
                            +"<button type='button' class='layui-btn layui-btn-sm' onclick='lpbdel("+a.id+")'>删除</button>"
                            +"<button type='button' class='layui-btn layui-btn-sm' onclick='yishoufeiid("+a.id+")'>已收费</button>"
                            +"<button type='button' class='layui-btn layui-btn-sm' onclick='yituifeiid("+a.id+")'>已退费</button>"

                    }}
                ]
            ]
            ,page: true
        });




    })

/*付费页面删除*/
    layui.use(['form','layer','jquery','laydate','table'], function(){
        lpbdel = function (id) {

            $.ajax({

                url:'../lpbdel',

                data:{'id':id},

                success:function () {

                    alert("删除成功")

                },error:function () {
                    alert("删除失败")
                }


            })
            location.reload()
        }

        layui.use(['table','jquery','layer','form','laydate'], function() {

            var layer = layui.layer;

            var form = layui.form;

            var laydate = layui.laydate

            var table = layui.table

        upda = function (id) {
           /*  alert(id)*/
            $.ajax({

                url: '../upda',

                data: {'id': id},

                success: function (data) {

                    layer.open({

                        type: 1,

                        title: "新增弹框",

                        area: ['30%', '70%'],

                        content: $("#upda").html(),

                        success: function () {

                            laydate.render({
                                elem: "#date2"

                            })

                            form.val('example1', {
                                "id": data.id,
                                "dingdan": data.dingdan
                                , "shijian": data.shijian
                                , "name": data.name
                                , "shouji": data.shouji
                                , "keshi": data.keshi
                                , "yisheng": data.yisheng
                                , "dingdantype": data.dingdantype
                                , "yingshoujinger": data.yingshoujinger
                                ,"nainling":data.nainling

                            })

                            form.on('submit(update)',function (data) {

                                console.log(data)

                                console.log(data.field)

                                var node = data.field

                                $.ajax({

                                    url:"../update",

                                    data:node,

                                    success:function () {
                                        form.render();
                                        layer.closeAll()

                                    }

                                })


                            })





                        }, end: function () {
                            table.reload()
                        }


                    })

                }


            })


        }
    })

    })

    /*待收费修改成已收费*/
    layui.use(['table','jquery','layer','form','laydate'], function() {
        var layer = layui.layer;

        var form = layui.form;

        var laydate = layui.laydate

        var table = layui.table

        yishoufeiid = function(id){

        /* alert(id)*/

        $.ajax({
            url: '../yishoufeiid',

            data: {'id': id},
            success: function () {
                alert("修改成功")
                location.reload()
            }, end: function () {
                table.reload()
            }

        })

        }
    })
    /*待收费修改成已退费*/
    layui.use(['table','jquery','layer','form','laydate'], function() {
        var layer = layui.layer;

        var form = layui.form;

        var laydate = layui.laydate

        var table = layui.table

        yituifeiid = function(id){

            /* alert(id)*/

            $.ajax({
                url: '../yituifeiid',

                data: {'id': id},
                success: function () {
                    alert("修改成功")
                    location.reload()
                }, end: function () {
                    table.reload()
                }

            })

        }
    })

    layui.use(['table','jquery','layer','form','laydate'], function() {
        var layer = layui.layer;

        var form = layui.form;

        var laydate = layui.laydate

        var table = layui.table

        daishoufeiid = function(id){

            /* alert(id)*/

            $.ajax({
                url: '../daishoufeiid',

                data: {'id': id},
                success: function () {
                 /*   alert("修改成功")*/
                    location.reload()
                }, end: function () {
                    table.reload()
                }

            })

        }
    })



        /*********************************按钮显示********************************************/

        lpbshowfei = function () {
           /* alert("待收费")*/
            document.getElementById("a").setAttribute("style","display:block");
            document.getElementById("c").setAttribute("style","display:none");
            document.getElementById("b").setAttribute("style","display:none");
        }
        lpbyishowfei = function () {
          /*  alert("已收费")*/
            document.getElementById("a").setAttribute("style","display:none");
            document.getElementById("b").setAttribute("style","display:block");
            document.getElementById("c").setAttribute("style","display:none");

        }
        lpbyituifei = function () {
           /* alert("已退费")*/
            document.getElementById("a").setAttribute("style","display:none");
            document.getElementById("b").setAttribute("style","display:none");
            document.getElementById("c").setAttribute("style","display:block");
        }

/*********************************已收费页面********************************************/
    //已收费查询
    layui.use(['form','layer','jquery','laydate','table'], function(){
        var table = layui.table;
        /*var btn = document.getElementById("a")*/
        var layer = layui.layer
        var form = layui.form;
        var laydate = layui.laydate;
        table.render({
            elem: '#test2'
            ,url:'../lpbyishoufeiquery'
            ,limit:6
            ,limits:[10,14,16]
            ,cols: [
                [
                    {type:'checkbox'},
                    {field:'id', title: 'ID',width:$(this).width*0.1,sort:true}
                    ,{field:'dingdan', width:$(this).width*0.1, title: '订单号'}
                    ,{field:'shijian', width:$(this).width*0.1, title: '时间'}
                    ,{field:'name', width:$(this).width*0.1, title: '名字'}
                    ,{field:'nainling', width:$(this).width*0.1, title: '年龄'}
                    ,{field:'shouji', width:$(this).width*0.1, title: '手机'}
                    ,{field:'keshi', width:$(this).width*0.1, title: '科室'}
                    ,{field:'yisheng', width:$(this).width*0.1, title: '医生'}
                    ,{field:'dingdantype', width:$(this).width*0.1, title: '订单类型',templet:function (a) {
                        if (a.dingdantype==1) {

                            return "处方药品";
                        }else if (a.dingdantype==2){

                            return "非处方药品";
                        }

                    }}
                    ,{field:'yingshoujinger', width:$(this).width*0.1, title: '应收金额'}
                    ,{field:'shoufeiinfo', width:$(this).width*0.1, title: '收费状态',templet:function (a) {
                        if(a.shoufeiinfo==2){

                            return "已收费";
                        }

                    }}

                    ,{field:'xingbie', width:$(this).width*0.1,title: '性别',templet:function (a) {
                        if(a.xingbie==1){
                            return "男";
                        }
                        if(a.xingbie==2){

                            return "女"
                        }

                    }}
                    ,{field:'caozuo', width:$(this).width*0.1,title: '操作',templet:function (a) {
                        return "<button type='button' class='layui-btn layui-btn-sm' onclick='lpbdel("+a.id+")'>删除</button>"
                            +"<button type='button' class='layui-btn layui-btn-sm' onclick='yituifeiid("+a.id+")'>已退费</button>"
                            +"<button type='button' class='layui-btn layui-btn-sm' onclick='daishoufeiid("+a.id+")'>待收费</button>"
                    }}
                ]
            ]
            ,page: true
        });
    })

/***********************************已退费页面*************************************************/
 //已退费查询
    layui.use(['form','layer','jquery','laydate','table'], function(){
        var table = layui.table;
        var layer = layui.layer
        var form = layui.form;
        var laydate = layui.laydate;

        table.render({
            elem: '#test3'
            ,url:'../lpbyituifeiquery'
            ,limit:6
            ,limits:[10,14,16]
            ,cols: [
                [
                    {type:'checkbox'},
                    {field:'id', title: 'ID',width:$(this).width*0.1,sort:true}
                    ,{field:'dingdan', width:$(this).width*0.1, title: '订单号'}
                    ,{field:'shijian', width:$(this).width*0.1, title: '时间'}
                    ,{field:'name', width:$(this).width*0.1, title: '名字'}
                    ,{field:'nainling', width:$(this).width*0.1, title: '年龄'}
                    ,{field:'shouji', width:$(this).width*0.1, title: '手机'}
                    ,{field:'keshi', width:$(this).width*0.1, title: '科室'}
                    ,{field:'yisheng', width:$(this).width*0.1, title: '医生'}
                    ,{field:'dingdantype', width:$(this).width*0.1, title: '订单类型',templet:function (a) {
                        if (a.dingdantype==1) {

                            return "处方药品";
                        }else if (a.dingdantype==2){

                            return "非处方药品";
                        }

                    }}
                    ,{field:'yingshoujinger', width:$(this).width*0.1, title: '应收金额'}
                    ,{field:'shoufeiinfo', width:$(this).width*0.1, title: '收费状态',templet:function (a) {
                        if(a.shoufeiinfo==3){

                            return "已退费";
                        }

                    }}

                    ,{field:'xingbie', width:$(this).width*0.1,title: '性别',templet:function (a) {
                        if(a.xingbie==1){
                            return "男";
                        }
                        if(a.xingbie==2){

                            return "女"
                        }

                    }}
                    ,{field:'caozuo', width:$(this).width*0.1,title: '操作',templet:function (a) {
                        return "<button type='button' class='layui-btn layui-btn-sm' onclick='yishoufeiid("+a.id+")'>已收费</button>"
                            +"<button type='button' class='layui-btn layui-btn-sm' onclick='daishoufeiid("+a.id+")'>待收费</button>"
                            +"<button type='button' class='layui-btn layui-btn-sm' onclick='lpbdel("+a.id+")'>删除</button>"
                    }}
                ]
            ]
            ,page: true
        });

    })




</script>
</html>